<!DOCTYPE html>
<html lang="hr-HR">
   <head>
      <title>Web Shop</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="Web shop - shop in the comfort of your own home.">
      <meta name="keywords" content="web shop">
      <meta name="author" content="O.K.">
      <link href="https://fonts.googleapis.com/css?family=Quantico:400,700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link rel="stylesheet" href="/css/style.css">
      <link rel="icon" type="image/png" href="/test-clipart-12.png">
      <script
         src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
         integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
         crossorigin="anonymous"></script>
      <script async src="/script.js"></script>
   </head>
   <body>
      {{> header }}
      {{{body}}}
      <div class="footer">
         <p>
            Copyright &#169; <i class="far fa-copyright"></i> <script>document.write(new Date().getFullYear());</script>. 
         </p>
         <p>Powered by <strong><a href="https://github.com/suncica-negra?tab=repositories" target="_blank" class="orhidea">DEA</a></strong></p>
      </div>
   </body>
</html>