<div class="margin">
   <div class="row mb-3 row1">
      <div class="col-md-12 themed-grid-col data">
         <div class="error">
            <h5>You must be logged in to order products.</h5>
            <img src="/error.png" class="img6" title="Izvor: Pixabay" alt="error">
         </div>
         <script>
            setTimeout("location.href = '/login';", 2500)
         </script>
      </div>
   </div>
</div>