<div class="margin">
   <div class="row mb-3 row1">
      <div class="col-md-12 themed-grid-col data">
         <div class="success">
            <h4>Success</h4>
            <h5>Order saved successfully.</h5>
            <img src="/Thumb_up.png" class="img4" title="Izvor: Pixabay" alt="thumb_up">
         </div>
         <script>
            setTimeout("location.href = '/';", 2500)
         </script>
      </div>
   </div>
</div>